.boxA{
    width: 400px;
    height: 300px;
    background-color: rgba(96, 100, 214, 0.671);
}
.box1{
    background-color:red;
}
.box2{
    background-color:green;
}
.box3{
    background-color:yellow;
}
.box4{
    background-color:salmon;
}
.box5{
    background-color:blue;
}
.box6{
    background-color:purple;
}
.box7{
    background-color:rgb(0, 195, 255);
}
.boxA div{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 18px;
}
/* set a box possition for image */
.fleximg{
    position: absolute;
    top: 10px;
    left: 450px;
}
#img-justify{
    width: 400px;
}
/*change flext*/
.boxA{
    /* position is set in row and fit-> by default row-> left to right in bot--> width change */
    display: flex; 
    flex-direction:row; /*right to left. same in colem*/ 
}


.boxB{
    width: 400px;
    height: 300px;
    background-color: rgba(96, 214, 129, 0.671);
    margin-top: 10px;
}
.box1{
    background-color:red;
}
.box2{
    background-color:green;
}
.box3{
    background-color:yellow;
}
.box4{
    background-color:salmon;
}
.box5{
    background-color:blue;
}
.box6{
    background-color:purple;
}
.box7{
    background-color:rgb(0, 195, 255);
}
.boxB div{
    height: 100px;
    width: 40px;
    text-align: center;
    font-size: 20px;
}
.boxB>.box3{
    font-size: 50px;
    text-align:center;
}
/* set a box possition for image */
.fleximg2{
    position: absolute;
    top: 10px;
    left: 870px;
}
/*change flext*/
.boxB{
    /* position is set in row and fit-> by default row-> left to right in bot--> width change */
    display: flex; 
    flex-direction:row; /*right to left. same in colem*/ 
}


/*direction-> controal a direction*/
/* along main axis->justify-->flex->controal a content like postion to start content like end,start,center*/
.boxA{
    justify-content:flex-start;  /*start left-start to right*/
    justify-content:flex-end; /*start left-end to right*/
    justify-content: center;  /*start center*/
}

/* along cross axis->aline-->flex->controal a content like postion to start content like end,start,center*/
.boxA{
    align-items: center;
    align-items: flex-end; /* in uper boxA is set a center-> main axis and then this line is cross axis going end-> center end */
    align-content: flex-start; /*by default*/
    /* in uper boxA is set a center-> main axis and then this line is cross axis going center-> both canter right to left & up to doun*/
}

/* along cross axis-> aline-->space-> controal a space like two box between space, starting space,etc*/
.boxA{
    flex-wrap: wrap;
    /* align-cotent-> space->work if line is more then 1 -> because this work is cross axis if cross axis is single line then not work*/
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
} 


.boxB{
    align-items: baseline; /* content same line not boxes*/
}
/* along main axis-> justify-->space-> controal a space like two box between space, starting space,etc*/
.boxB{
    justify-content:space-between;  /*start and end point no space */
    justify-content:space-around; /*startand & end point harf space with respect to tow box between space */
    justify-content: space-evenly;  /*start, and tow box between space is same */
}




